@import "reset.css";

html {
  font-size: 14px;
}

body {
  background-color: #fff;
  font-family: "Noto Sans KR", sans-serif;
}

footer {
  text-align: right;

  & > * {
    margin-right: 0.25rem;

    &:last-child {
      margin-right: inherit;
    }
  }
}

main {
  padding: 1.5rem;
  max-width: 840px;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.65rem;
}

h3 {
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-block: 1.5rem 0.5rem;
}

p {
  margin-block: 0.6rem;
}

h1,
h2,
h3,
p {
  line-height: 1.5;
}

strong {
  font-weight: 600;
}

a,
button {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

ul,
ol {
  list-style: disc;
  padding-left: 20px;

  li {
    margin-block: 0.2rem;

    p:has(+ ul) {
      margin-block-end: 0.1rem;
    }
  }

  ul {
    list-style: circle;
  }
}

ol {
  list-style: decimal;
}

hr {
  height: 4px;
}

em {
  font-style: italic;
}

blockquote {
  color: #555;
  font-style: italic;

  & > p::before {
    content: ">";
    padding-right: 0.35rem;
  }

  a {
    color: #555;
  }
}

@media print {
  html {
    font-size: 14px;
  }

  body {
    padding: 0 4rem;
  }

  footer {
    display: none;
  }
}

img {
  & + em {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #767676;
  }
}
