<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title | default: "Resume" }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="title" content="{{ page.title }}" />
    <meta name="author" content="dev-redo" />

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="website" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ '/assets/reset.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/resume.css' | relative_url }}" />
  </head>

  <body>
    <main>
      <article class="resume-content">
        {{ content }}
      </article>
    </main>
  </body>
</html>